<p>
  <!--
  style-finder works!
  -->
</p>
<!--
<img src="../../assets/beach.jpg">
-->


<div>
  <form (ngSubmit)="getPintrestImages()" #PintrestForm="ngForm">

    <input type="radio" [(ngModel)]="pinboard.category" name="category" value="gradle">Living Room <br>
    <input type="radio" [(ngModel)]="pinboard.category" name="category" value="maven">Bed Room

      <div class="url-check" id="url-check"></div>
      <label><span id="label-no"></span> PASTE A PINTEREST LINK
          <p>Tip: You can enter any public Pinterest board, regardless if it's yours.</p>
      </label>
      <div class="label-url">
          URL
      </div>
     
                   
    <input  type="text"  required minlength="4" size="70"  [(ngModel)]="pinboard.boardurl"  placeholder="https://www.pinterest.com/username/board" name="boardurl"  #boardurl="ngModel">
    <div [hidden]="boardurl.valid || boardurl.pristine" class="alert alert-danger">
        UUID IS required
      </div>
    <br>
    <button type ="submit" [disabled]="!PintrestForm.form.valid" >Get Pinterest Images</button>
    
  </form>
</div>
<br>
<br>
<!---Upload Images-->
  <label><span id="label-no">OR</span> Upload Images
</label>
<br>
<input type="file"  name="img"  multiple (change)="onChange($event)" />
<div class="gallery"  *ngFor="let fileUrl of base64Files">
  <img [src]="fileUrl"  />
</div>
<br>
<br>
<br>
<div *ngIf="base64Files.length >0">
<button (click)="onSubmit()">Get Image color and Pattern</button>
</div>
  <div>
  <ul>
  <li *ngFor="let color of styleColor">{{color.w3c.name}} {{color.value}}</li>
  </ul>
  </div>
   <div class="relative">
       
    <ul>
    <li *ngFor="let concept of styleConcept">{{concept.name}} {{concept.value}}</li>
    </ul>
   </div>
  
      <div class="relative1" >
      
      <ul>
      <li *ngFor="let pattern of stylePattern">{{pattern.name}} {{pattern.value}}</li>
      </ul>
      </div>

      <div class="relative1" *ngIf="show_search==true" > 
      <button type ="sumbit" (click)="displayImages()" >Search in Biglots.com</button>
     </div>

     
    <!--
     <div  class="gallery" *ngFor="let dispimage of pinterestImages ">
 
        <img src="{{dispimage.image.original.url}}" style="width:208px;height:284px;"/>
         <br>
      
       </div>
      -->
<br>
      <div *ngIf="pinterestImages.length >0" >
          <button type ="sumbit" (click)="processPinterestImages()" >Search in Biglots.com</button>
         </div>
        <br>
      <ngx-carousel
      [inputs]="carouselOne"
      (carouselLoad)="myfunc($event)">
    <!--
        <div  *ngFor="let dispimage of pinterestImages ">
        -->
            <ngx-item NgxCarouselItem *ngFor="let dispimage of pinterestImages;let i=index ">
          
            <!--
              alt="Responsive image"
            <ngx-item *ngFor= "let dispimage of pinterestImages ">
            -->
             <img  class="gallery" src="{{dispimage.image.original.url}}" style="width:540px;height:540px;"  />
            </ngx-item>
      
       
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
     <br>
   
    