<p>
  style-finder works!
</p>
<!--
<img src="../../assets/beach.jpg">
-->
<input type="file"  name="img" (change)="onChange($event)" />
<div class="gallery"  *ngFor="let fileUrl of base64Files">
  <img [src]="fileUrl"  />
</div>
<button (click)="onSubmit()">Get Image color and Pattern</button>
<div>
  <ul>
  <li *ngFor="let color of styleColor">{{color.w3c.name}} {{color.value}}</li>
  </ul>
  </div>
  <div class="relative">
    <ul>
    <li *ngFor="let concept of styleConcept">{{concept.name}} {{concept.value}}</li>
    </ul>
    </div>

